:root{
    --main-color: #3867d6;
}

.main{
    width: 90%;
    margin: auto;
    padding: 9rem 0 2rem 0;
    /* background-color: red; */
}

.main .upperPart{
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.booking{
    width: 150px;
    height: 150px;
    background: var(--main-color);
    border-radius: 50%;
    position: relative;
}

.booking p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
}

.lowerPart{
    padding-top: 2rem;
}

.lowerPart .bookingHistory{
    width: 100%;
    border: 2px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-radius: .5rem;
    margin-bottom: 2rem;
}

.lowerPart .bookingHistory h2{
    color: var(--main-color);
    font-size: 2rem;
    letter-spacing: 1px;
    padding-bottom: 7px;
}

.lowerPart .bookingHistory p{
    font-size: 1.7rem;
    font-weight: 500;
}

.lowerPart .no-bookings p{
    text-align: center;
    padding-top: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .lowerPart .bookingHistory{
        flex-direction: column;
        justify-content: space-between;
        align-items: normal;
    }

    .bookingHistory div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}