.main{
    padding: 9rem 0 5rem 0;
    width: 90%;
    margin: auto;
}

.main form{
    max-width: 50rem;
    margin: 2rem auto 0;
    text-align: center;
}

.main form label {
    text-align: left;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--main-color);
}

.input-box{
    position: relative;
    margin: 10px 0 20px 0;
}

.input-box input{
    text-transform: none;
    width: 100%;
    padding: 13px 50px 13px 20px;
    background: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.input-box input::placeholder{
    color: #888;
    font-weight: 400;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 16px;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}